.box {
    border: 1px solid #ebdede;
    border-radius: 5px;
    min-height: 140px;
    box-shadow: 18px 9px 27px 1px rgba(163, 149, 149, 0.75);
    -webkit-box-shadow: 18px 9px 27px 1px rgba(163, 149, 149, 0.75);
    -moz-box-shadow: 18px 9px 27px 1px rgba(163, 149, 149, 0.75);
    margin: 0 0 60px 0
}

.text {
    word-wrap: break-word;
    border: 1px solid #ebdede;
    width: 95%;
    margin: 10px auto;
    border-radius: 5px;
    min-height: 26px;
    padding: 9px 8px;
    font-size: 15px;
    letter-spacing: 0.8px;
    line-height: 20px;
    box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -webkit-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -moz-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
}

.timeBox {
    display: flex;
}

.time {
    margin: 0 20px;
    padding: 9px 8px;
    border: 1px solid #ebdede;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -webkit-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -moz-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
}

.data {
    margin: 0 20px;
    padding: 9px 8px;
    border: 1px solid #ebdede;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -webkit-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -moz-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
}

.lastTime {
    margin: 0 20px;
    padding: 9px 8px;
    border: 1px solid #ebdede;
    border-radius: 10px;
    box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -webkit-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
    -moz-box-shadow: 5px 5px 12px 2px rgba(143, 120, 120, 0.75);
}

.edit {
    width: 35px;
    height: 35px;
    margin: 0 18px 0 0;
    cursor: pointer;
}

.diteils {
    display: flex;
    justify-content: space-between;
    margin: 31px 0 0 0;
}

.close {
    width: 40px;
    height: 40px;
    margin: 0 18px 0 0;
    cursor: pointer;
}

.poppupBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 201px;
    background-color: #aba0a0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poppup {
    width: 217px;
    min-height: 28px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1px 28px 1px 8px;
    font-size: 14px;
    letter-spacing: 0.8px;
    margin: 36px 0 36px;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.button {
    padding: 6px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.button:hover {
    outline: 1px solid black;
}

.inputBox {
    position: relative;
}

.closeBlack {
    position: absolute;
    right: 0;
    top: 36px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media(max-width:702px) {
    .diteils {
        flex-wrap: wrap;
        justify-content: end;
    }

    .reminderDetails {
        margin: 20px 0 7px 0;
    }
    .text{
        width:90%
    }
}

@media(max-width:591px) {
    .reminderDetails {
        margin: 20px 0 7px 0;
    }
    .timeBox{
        flex-direction: column;
        padding: 0 0 0 8px;
    }
    .time{
        margin: 0 0 20px 0;
        width: 46px;
    }
    .data{
        margin: 0 0 20px 0;
        width: 85px;
    }
    .lastTime{
        margin: 0 0 20px 0;
        width: 271px;
    }
    .diteils {
        justify-content: space-between;
    }
    .reminderDetails{
        margin: 57px 0 0 0;
    }
    .text{
        width:85%
    }
}
@media(max-width:436px){
    .reminderDetails{
        margin: 10px 0 0 0;
    }
    .diteils {
        justify-content: end;
    }
    .timeBox{
        align-items: end;
        padding: 0 8px 0 0;
    }
    .time{
        font-size: 15px;
    }
    .data{
        font-size: 15px;
    }
    .lastTime{
        width: 217px;
        font-size: 15px;
    }
    .text{
        width:80%
    }
}